<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>Your birthday will be in <%= days_to_bday %> day<%= 's' if days_to_bday > 1 %> <%= session[:name] %>!</h1>
</body>
