<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>Hello! <br> Please enter your name and birthday below...</h1>
  <form action="/calculate" method="POST">
    <div>Name:</div>
    <input type="text" name="name"></input>
    <br>
    <div>Birthday:</div>
    <input type="date" name="birthday"></input>
    <br>
    <input type="submit" value="Submit"></input>
  </form>
</body>
</html>
